/* Asterisk wildcard selector to override default styles set by browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* General Styles */

body {
    background-color: #f59ebc;
    color: #2b1511;
    font-family: 'Alegreya Sans', 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    /* make main element take up surplus space*/
    flex: 1 0 auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 300px;
    height: auto;
}

nav {
    min-height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

a {
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.current,a:hover {
    border: 1px solid #e64c81;
    transition: .7s ease;
}

a:visited {
    color:#2b1511;
    text-transform: none;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #2b1511;
}

#about {
    text-align: center;
}

#about h3{
    padding: 1%;
    color:#c23e6c;
    font-weight: 800;
    font-size: 26px;
}

#about h4{
    font-weight: 500;
}

#about p{
    padding: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.about-section a {
    color:#c23e6c;
    font-weight: 800;
    font-size: 26px;
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;}

.about-image img{
    max-width: 30%;
}
/* social network icons in footer*/

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    color: #c23e6c;
    padding: 5%;

}

#quiz-container {
        background-color: #ffd0e0;
        padding: 20px;
        border-radius: 10px;
        border: 2px solid #e64c81;
        color: #2b1511;
        margin-left: 5%;
        margin-right: 5%;
    }


.question {
  display: none;
}
.question.active {
  display: block;
}
button {
  margin-top: 10px;
}

#contactform h3{
    text-align: center;
    color:#c23e6c;
    font-weight: 800;
    font-size: 26px;
    margin-left: 15%;
    margin-right: 15%;
}

#contactform {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    margin: 20px;
    color:#c23e6c;
    font-size: 20px;
    font-weight: 700;

}

/* for name and address*/
.text-input {
    font-size: 16px;
    background-color: #ffd0e0;
    color: #2b1511;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #e64c81;
    border-radius: 5px ;
    padding: 0 5px;
}

/* for message */
.message-input {
    font-size: 16px;
    background-color: #ffd0e0;
    color: #2b1511;
    width: 100%;
    height: 200px;
    margin: 5px 0 20px 0;
    border: 2px solid #e64c81;
    border-radius: 5px;
    padding: 0 5px;
}

/* text input placeholder styling */
.text-input::placeholder {
    font-size: 16px;
}

/* message placeholder styling*/
.message-input::placeholder {
    font-size: 16px;
}

/*submit button styling*/
.submit-button {
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #e64c81;
    color: #fafafa;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px){
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo img {
        width: 200px;
        height: auto;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 200px;
        gap: 0;
        flex-direction: column;
        background-color: #f59ebc;
        width: 100%;
        text-align: center;
        transition: 0.7s;
    }

    nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}