/* Asterisk wildcard selector to override default styles set by browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* General Styles */

body {
    background-color: #f59ebc;
    color: #2b1511;
    font-family: 'Alegreya Sans', 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    /* make main element take up surplus space*/
    flex: 1 0 auto;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #f59ebc;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 300px;
    height: auto;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover {
    border: 1px solid #e64c81;
    transition: .5s;
}

nav a:visited {
    color:#2b1511;
}

nav #nav-icon {
    color: #2b1511;
    font-size: 25px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
}
